name: Steam Metrics

on:
  schedule:
    - cron: "30 18 * * *"   # 12:00 AM IST daily
  workflow_dispatch:
  push:
    branches: ["master", "main"]

jobs:
  steam:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          filename: metrics.steam.svg
          user: ywh555hhh
          template: classic
          base: header
          config_timezone: Asia/Shanghai

          plugin_steam: yes
          plugin_steam_token: ${{ secrets.STEAM_TOKEN }}
          plugin_steam_user: ${{ secrets.STEAM_USER_ID }}
          plugin_steam_sections: player, recently-played
          plugin_steam_games_limit: 6
          plugin_steam_recent_games_limit: 5
